body {
  @include fluid-text(15, 12);

  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-light);
  background-color: var(--color-dark);

  @include desktop-media {
    padding-inline: 15px;
  }
  @include mobile-media {
    padding-inline: 22px;
  }
  @include mobile-s-media {
    padding-inline: 10px;
  }
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}
a {
  text-decoration: none;
  color: inherit;
}
