.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}
.chat-wrapper {
  position: relative;
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  margin-inline: auto;
  background-color: var(--color-dark);

  @include mobile-media {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  &::before {
    position: absolute;
    content: "";
    width: calc(100% + 4px);
    height: 100%;
    left: -2px;
    z-index: -1;
    border-radius: inherit;
    background: linear-gradient(to top, rgb(71, 71, 71) 67%, rgb(0, 0, 0) 100%);

    @include mobile-media {
      background: linear-gradient(
        to top,
        rgb(71, 71, 71) 0%,
        rgb(0, 0, 0) 80%,
        rgb(0, 0, 0) 100%
      );
    }
  }
}
.chat {
  @include mobile-media {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}
.message-fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile-media {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-media-above {
    display: none !important;
  }
}
