:root {
  --color-dark: #000000;
  --color-dark-light: #212121;
  --color-dark-alternate: #ffffff45;
  --color-light: #ffffff;
  --color-text-light: #ffffffcc;
  --color-gray: #202020;
  --color-gray-light: #787878b3;
  --color-gray-alt: #787878;
  --color-accent: #44dafb;
  --color-border: #5b5b5b;

  --border: 1px solid var(--color-gray-light);
  --border-radius: 25px;
  --border-radius-small: 15px;
  --border-block: 2px solid var(--color-border);

  --font-family-base: "AvenirNext", sans-serif;
  --font-family-reserve: "AcuminPro-Regular", sans-serif;
  --font-family-footer: "tahoma", sans-serif;

  --container-width: 1130px;
  --header-height: 236px;
  --user-field-height: 160px;
  --shadow-block-height: 77px;
  --container-padding-x: 20px;
  --container-margin-y: -20px;

  --button-height: 33px;

  --transition-duration: 0.3s;

  @include desktop-media {
    --container-padding-y: 50px;
  }
  @include tablet-media {
    --header-height: 161px;
  }
  @include mobile-media {
    --container-padding-y: 30px;
    --container-padding-x: 10px;

    --button-height: 39px;
    --shadow-block-height: 62px;
    --user-field-height: 220px;
    --header-height: 214px;

    --border-radius: 30px;
  }
  @include mobile-s-media {
    --button-height: 28px;
    --header-height: 190px;
  }
}
