:root {
  --color-dark: #000000;
  --color-dark-light: #2a2929;
  --color-message-bg: #141414;
  --color-light: #ffffff;
  --color-text-light: rgba(255, 255, 255, 0.8);
  --color-gray: #202020;
  --color-gray-light: #78787880;
  --color-gray-alt: #787878;
  --color-accent: #44dafb;

  --border: 1px solid var(--color-gray-light);
  --border-radius: 25px;
  --border-radius-small: 15px;

  --font-family-base: "AvenirNext", sans-serif;
  --font-family-reserve: "AcuminPro-Regular", sans-serif;

  --container-width: 1130px;
  --container-padding-x: 20px;

  // --input-height: 59px;
  // --button-height: 68px;

  --transition-duration: 0.3s;

  @include desktop-media {
    --container-padding-y: 50px;
  }
  @include mobile-media {
    --container-padding-y: 30px;
  }
}
