.button {
  background: transparent;
  border: transparent;

  @include hover {
    filter: brightness(40%);
  }
  @include active {
    scale: 0.95;
  }

  &--transparent {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-block: 0 9px;
    padding-inline: 17px;
    color: var(--color-light);
    height: var(--button-height);
    background-color: var(--color-dark);
    outline: 2px solid var(--color-gray-alt);
    border-radius: var(--border-radius-small);
    font-size: 13px;

    box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.45) inset;

    @include hover {
      color: var(--color-accent);
      filter: brightness(80%);
    }
    @include active {
      filter: brightness(60%);
      scale: 0.98;
    }
  }

  &--round {
    @include square(30px);
    @include flex-center(true);
    background-color: var(--color-gray-light);
    border-radius: 50%;

    &::before {
      @include square(14px);
      position: absolute;
      content: "";
    }
  }
  &--plus {
    &::before {
      background: url(../../images/icons/plus.svg) no-repeat center / cover;
    }
  }

  &--refresh {
    &::before {
      width: 18px;
      background: url(../../images/icons/refresh.svg) no-repeat center / cover;
    }
  }

  // font-size: 20px;
  // color: var(--color-light);
  // border: var(--border);
  // border-radius: var(--border-radius);

  // @include hover {
  //   background-color: var(--color-accent);
  //   color: var(--color-dark);
  // }
  // &--transparent {
  //   color: var(--color-dark);
  //   background-color: transparent;
  // }
  // &--accent {
  //   background-color: var(--color-accent);
  //   color: var(--color-dark);

  //   @include hover {
  //     background-color: var(--color-dark);
  //     color: var(--color-accent);
  //   }
  // }
}
