.chat-header {
  border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
  position: relative;
  margin-block: calc(var(--header-height) * -1 * 0.57) 0;
  background-color: var(--color-dark);

  @include flex-space-between;
  &::before {
    position: absolute;
    content: "";
    width: calc(100% + 4px);
    height: 100%;
    left: -2px;
    top: 2px;
    z-index: -1;
    border-radius: inherit;
    background: linear-gradient(
      0deg,
      rgb(71, 71, 71) 0%,
      rgba(32, 32, 32, 1) 50%
    );
  }
  &__info {
  }
  &__chats {
  }
}
