.chats {
  @include flex-space-between;
  column-gap: 10px;
  max-width: 428px;
  width: 100%;
  padding-right: 4px;

  &__wrapper {
    padding-bottom: 8px;
    margin-left: 0;
  }

  &__slide {
    display: flex;
    gap: 7px;
    &-left,
    &-right {
      & .chats__item:first-child {
        margin-bottom: 8px;
      }
    }
  }
  &__item {
    display: flex;
    align-items: center;
    &-counter {
      @include square(25.5px);
      @include flex-center(true);
      font-weight: 700;
      font-size: 14px;
      border-radius: 50%;
      background-color: var(--color-gray-light);
    }

    &-button {
      display: inline-flex;
      align-items: center;
      position: relative;
      background-color: transparent;
      border: none;
      color: var(--color-text-light);

      &[disabled] {
        padding-right: 22px;
      }
      @include hover {
        &:not([disabled]) {
          color: var(--color-accent);
          filter: brightness(80%);
        }
      }

      @include active {
        &:not([disabled]) {
          filter: brightness(40%);
          scale: 0.98;
        }
      }
      &--lock {
        color: var(--color-gray-alt);

        &::before {
          position: absolute;
          content: "";
          width: 11px;
          height: 13px;
          right: 0;
          background: url(../../images/icons/lock.svg) no-repeat center / cover;
        }
      }
    }
  }

  &__slider-buttons-group {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 30px;
    width: 100%;
    height: 10px;
    @include flex-space-between;
    margin-right: 23px;
    gap: 10px;
  }
  &__slider-button {
    background-color: transparent;
    border: none;
    height: 10px !important;
    width: 10px !important;
    color: var(--color-gray-alt);
    position: static !important;
    left: unset !important;
    bottom: unset !important;
    top: unset !important;
    right: unset !important;

    @include hover {
      filter: brightness(60%);
    }
    @include active {
      scale: 0.98;
    }
    &::after,
    &::before {
      display: none;
    }
  }
  &__button {
    width: 32px;
    flex-shrink: 0;
    position: relative;
    z-index: 2;
    top: -2px;

    &--plus {
      width: 26px;
    }
  }
}
