.decor-stars {
  position: relative;
  width: 25px;
  height: 29px;
  &::after,
  &::before {
    position: absolute;
    content: "✦";
    width: auto;
    height: auto;
  }
  &::after {
    left: -2px;
    bottom: -8px;
    font-size: 26px;
  }
  &::before {
    right: -1px;
    top: -5px;
    font-size: 17px;
  }
}
.decor-triangle {
  position: relative;
  width: 13px;
  height: 15px;

  @include mobile-media {
    height: 17px;
  }
  &::after {
    position: absolute;
    top: -2px;
    left: 0;
    content: "▶";
    color: var(--color-gray-alt);
    font-size: 15px;
  }
  &--rotate {
    rotate: 90deg;
  }
}
