.footer {
  padding-block: 18px 80px;

  &__text {
    @include fluid-text(14, 12);

    font-family: var(--font-family-footer);
    color: var(--color-dark-alternate);
    text-align: center;
    line-height: 1.27;
  }
}
