.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: relative;

  background-color: var(--color-dark);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  border-bottom: var(--border-block);
  min-height: 236px;
  padding-block: 17px;
  padding-right: 25px;
}
