.logo {
  @include hover {
    color: var(--color-accent);
    filter: brightness(80%);
  }
  @include active {
    scale: 0.98;
    transition-duration: var(--transition-duration);
  }
  &__link {
    @include fluid-text(29, 24);
    font-weight: 400;
  }
}
