.user-field {
  min-height: var(--user-field-height);
  padding-block: 19px 0px;
  padding-inline: var(--container-padding-x) 11px;
  border-bottom: 4px solid var(--color-border);
  border-radius: 0 0 var(--border-radius) var(--border-radius);

  @include mobile-media {
    min-height: 220px;
    padding-block: 24px 0px;
    margin-inline: 0;
  }

  @include mobile-s-media {
    padding-inline: var(--container-padding-x) 5px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__message {
    min-height: 84px;
  }

  &__controls {
    @include flex-space-between;
    gap: 10px;
    min-height: var(--button-height);
    align-self: end;

    @include mobile-media {
      gap: 16px;
    }
    @include mobile-s-media {
      gap: 10px;
    }
  }
}

.user-field__message {
  &-input {
    background-color: transparent;
    overflow: auto;
    border: none;
    width: 100%;
    resize: none;
    color: var(--color-light);
    min-height: 80px;
    font-size: 18px;

    @include mobile-media {
      min-height: 126px;
    }
    &::placeholder {
      color: var(--color-gray-alt);
      letter-spacing: -1px;
    }

    &:focus {
      outline: none;
    }
  }
}
.user-field__select {
  color: transparent;
  width: 100%;
  height: var(--button-height);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--border-radius-small);
  outline: none;
  border: none;
  background-color: transparent;
  position: absolute;
  z-index: 3;
  cursor: pointer;

  &-option {
    background-color: var(--color-dark);
    min-height: var(--button-height);
    color: var(--color-light);
    margin: 0 10px;
    text-align: center;
  }
}
.user-field__button {
  & .decor-stars {
    @include mobile-media {
      top: -2px;
      width: 30px;
      height: 33px;
    }
    @include mobile-s-media {
      width: 23px;
      height: 29px;
    }
  }

  &-select-wrapper {
    position: relative;
    transition-duration: var(--transition-duration);
    @include hover {
      filter: brightness(80%);
    }
    @include active {
      filter: brightness(60%);
      scale: 0.98;
    }
  }

  &--padding {
    padding-inline: 10px 17px;

    @include mobile-media {
      padding-inline: 17px;
    }
    @include mobile-s-media {
      padding-inline: 10px;
    }
  }
  &--send {
    text-transform: uppercase;
  }

  &-text {
    margin-right: 7px;

    @include mobile-media {
      margin-right: 9px;
    }
    &--big-margin {
      margin-right: 15px;
      margin-left: 8px;
      letter-spacing: 0.2px;
    }
  }
}
.user-field__image-upload {
  &-label {
    @include hover {
      transition-duration: var(--transition-duration);
      filter: brightness(80%);
    }
    @include active {
      transition-duration: var(--transition-duration);
      filter: brightness(60%);
      scale: 0.98;
    }
  }
  &-icon {
    fill: var(--color-gray-alt);
    position: relative;
    top: 3px;
    right: -9px;

    @include mobile-media {
      width: 38px;
      height: 38px;
      right: -4px;
    }
    @include mobile-s-media {
      right: -7px;
      top: 2px;
    }
  }
}
