.user-field {
  min-height: calc(160px + var(--container-margin-y) * -1);

  margin-block: var(--container-margin-y) 0;
  padding-block: calc((var(--container-margin-y) * -1) + 18px) 10px;
  padding-inline: var(--container-padding-x) 11px;
  border-bottom: 3px solid var(--color-border);
  border-radius: 0 0 var(--border-radius) var(--border-radius);

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__message {
    min-height: 84px;
  }

  &__controls {
    @include flex-space-between;
    gap: 10px;
    min-height: var(--button-height);
    align-self: end;
  }
}

.user-field__message {
  &-input {
    background-color: transparent;
    overflow: auto;
    border: none;
    width: 100%;
    resize: none;
    color: var(--color-light);
    &::placeholder {
      @include fluid-text(17, 12);
      color: var(--color-gray-alt);
      letter-spacing: -1px;
    }
    &:focus {
      outline: none;
    }
  }
}
.user-field__select {
  width: 100%;
  height: var(--button-height);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--border-radius-small);
  outline: none;
  border: none;
  background-color: transparent;
  position: absolute;
  z-index: 3;
  cursor: pointer;

  &-option {
    background-color: var(--color-dark);
    min-height: var(--button-height);
    color: var(--color-light);
    margin: 0 10px;
    text-align: center;
  }
}
.user-field__button {
  &-select-wrapper {
    position: relative;
    transition-duration: var(--transition-duration);
    @include hover {
      filter: brightness(80%);
      .user-field__button {
        color: var(--color-accent);
      }
    }
    @include active {
      filter: brightness(60%);
      scale: 0.98;
    }
  }

  &--padding {
    padding-inline: 10px 17px;
  }
  &--send {
    text-transform: uppercase;
  }

  &-text {
    margin-right: 7px;

    &--big-margin {
      margin-right: 13px;
      margin-left: 8px;
      letter-spacing: 0.2px;
    }
  }
}
.user-field__image-upload {
  &-label {
    @include hover {
      transition-duration: var(--transition-duration);
      filter: brightness(80%);
    }
    @include active {
      transition-duration: var(--transition-duration);
      filter: brightness(60%);
      scale: 0.98;
    }
  }
  &-icon {
    fill: #787878;
    position: relative;
    top: 3px;
    right: -9px;
  }
}
